@page "/Changes/{ChanID}"
@using DataAccessLibrary
@using OnePortal.Components.Pages.Change
@rendermode InteractiveServer
@inject ICM_Changes _dbChanges
@inject ILogger<ChangeById> _logger

<form class="form-container d-flex justify-content-between align-items-center">
    <h1>Change ID: @ChanID</h1>
    <button class="btn btn-primary" disabled="@(!_changeHasChanged)" @onclick="ButtonSaveClicked">Save</button>
</form>

<div class="content-container">
    <div class="left-side">
        @if (_change is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="caller">
                <Caller CallerPerson="@_change.Caller" OnCallerChanged="OnCallerChanged" />
            </div>
            <div class="details">
                <input type="text" value="@_change.BriefDescription" class="@inputClassBriefDesc"
                    @onchange="OnInputChangedBriefDescription" />

                <Categories SubCategory="@_change.SubCategory" OnCategoryChanged="OnCategoryChanged" />
            </div>

            <div class="planning">
                <StartImplementedTime StartTime="@_change.StartTime" 
                ImplementedTime="@_change.ImplementedTime" OnTimesChanged="OnPlanningTimesChanged" />
            </div>

            <div class="processing">
                <OperatorPicker OperatorObj="@_change.Operator" OnOperatorChanged="OnOperatorChanged" />

                <br />
                <Status CurrentStatus="@_change.Status" NeedApproval="@_change.NeedApproval"
                    ApprovedByApprover="@_change.ApprovedByApprover" OnStatusChanged="OnStatusChanged" />

                <br />
                <input type="checkbox" @bind="_change.NeedApproval" disabled /> Need approval
                <br />
                <input type="checkbox" @bind="_change.ApprovedByApprover" disabled /> Approved by approver
            </div>
        }
    </div>

    <div class="right-side">
        @if (_change is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="description">
                <p>@_change.Description</p>
            </div>

            <table class="table">
            <thead>
                <tr>
                    <th>ComID</th>
                    <th>Comment</th>
                    <th>OpID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in _change.Comments)
                    {
                        <tr>
                            <td>@comment.ComID</td>
                            <td>@comment.Comment</td>
                            <td>@comment.Operator.OpID</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    [Parameter]
    public string ChanID { get; set; }
    public int ChanIDInt => int.TryParse(ChanID, out var chanId) ? chanId : -1;
    private ChangeModel _change;
    private bool _changeHasChanged = false;

    private string inputClassBriefDesc = "brief-description";
    protected override async Task OnInitializedAsync()
    {
        _change = await _dbChanges.GetChange(ChanIDInt);
        
    }

    private async void ButtonSaveClicked()
    {
        await _dbChanges.UpdateChange(_change);
        _changeHasChanged = false;
        _logger.LogInformation($"Change with ID {_change.ChanID} was updated");
    }

    private void OnInputChangedBriefDescription(ChangeEventArgs e)
    {
        string temp = e.Value.ToString();
        if (temp.Length >= 150 || string.IsNullOrWhiteSpace(temp))
        {
            inputClassBriefDesc = "brief-description-error";
            _changeHasChanged = false;
        }
        else
        {
            inputClassBriefDesc = "brief-description";
            _changeHasChanged = true;
            _change.BriefDescription = temp;
        }
    }
    private void OnPlanningTimesChanged((DateTime StartTime, DateTime ImplementedTime) times)
    {
        _change.StartTime = times.StartTime;
        _change.ImplementedTime = times.ImplementedTime;
        _changeHasChanged = true;
    }
    private void OnCallerChanged(CallerModel caller)
    {
        _change.Caller = caller;
        _changeHasChanged = true;
    }
    private void OnCategoryChanged(SubCategoryModel subCategory)
    {
        _change.SubCategory = subCategory;
        _changeHasChanged = true;
    }
    private void OnOperatorChanged(OperatorModel operatorObj)
    {
        _change.Operator = operatorObj;
        _changeHasChanged = true;
    }
    private void OnStatusChanged(string status)
    {
        if (status == "Godkendt")
        {
            _change.ApprovedByApprover = true;
        }

        _change.Status = status;
        _changeHasChanged = true;
    }
}

<style>
    .content-container {
        display: flex;
        flex-direction: row;
    }

    .left-side {
        flex: 1;
    }

    .right-side {
        flex: 2;
    }

    .red-select {
        background-color: red;
    }

    .caller {
        border-bottom: 1px solid lightgray;
        padding: 10px;
    }

    .details {
        border-bottom: 1px solid lightgray;
        padding: 10px;
    }

    .planning {
        border-bottom: 1px solid lightgray;
        padding: 10px;
    }

    .processing {
        padding: 10px;
    }

    .error {
        border-color: red;
        background-color: red;
    }

    .brief-description {
        font-size: 20px;
        font-weight: bold;
    }

    .brief-description-error {
        border-color: red;
        background-color: red;
        font-size: 20px;
        font-weight: bold;
    }

    label {
        display: block;
        margin-bottom: 1px;
        margin-top: 10px;
    }
</style>